---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About Space">
  <h1>About, Astro!</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance, and is a joy to build with. It's a new kind of static site
    builder that delivers lightning-fast performance, and is a joy to build
    with.
  </p>
</Layout>
